.pricing {
    margin: 0 auto;
    background-color: #6696E2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

.alloptions {
    display: flex;
    align-items: flex-end;
    margin-top: 60px;
}

.option {
    width: 343px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 14px -8px rgba(99,99,99,1);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.price-info {
    height: 210px;
    width: 343px;
    background-color:#333333;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#type {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 21px;
}
#period {
    margin-top: 10px;
    font-size: 14px;
    font-weight: lighter;
}

.ribbon {
    width: 343px;
    height: 6px;
    background-color: #41D395;
}

.ribbon#higher {
    width: 343px;
    height: 40px;
    background-color: #41D395;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount {
    font-size: 94px;
    margin: 0px;
}
    

.services {
    margin: 13px;
    color: #86878B;
    font-size: 18px;
}

.greenline {
    position: relative;
  }
  
  .greenline:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 64px;
    background-color: #41D395;
    margin-left: -40px;
  }

  .option:hover {
    top: -20px;
    box-shadow: 0px 10px 45px 28px #41D395;
  }
