
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    
}
div {
    display: inline-block;
}
.header {
    overflow: hidden;
    width: 100%;
    height: 72px;
    background-color: black;
    top: 0;
    left:0;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;

}


li > a {
    text-decoration: none !important;
    color: #fff;
}

ul {
    color: #fff;
    margin-right: 150px;
}

li {
    padding: 8px 20px 8px 20px;
    display: inline;
}
a:hover, a:focus {
    color: #f8f8f8;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #f8f8f8;
    text-decoration: underline;
}

.underline {
  position: relative;
  margin: 3px;
  &:hover,
  &:focus,
  &:active {
   &:after {
      width: 100%;
  }
}

&:after {
    content: '';
    position: absolute;
    left: 0; bottom: -20px;
    height: 4px;
    background-color:  #E27866;
    width: 0;
    transition: width .25s;
  }
}

.logoo {
    height: 50px;
    position: relative;
    margin-right: 300px;
}

li {
    cursor: pointer;
}

.main {
    position: relative;
}

.city {
    background-position: center;
    min-height: 80vh;
    background-image: url(city.png);
    background-size: cover;
    overflow: hidden;
    box-shadow:inset 0 0 0 2000px rgba(36, 36, 36, 0.664);
    display: flex;
    justify-content: center;
}

.container {
    height: 600px;
    margin-top: 150px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.explained {
    height: 500px;
    width: 600px;
}

button {
    margin-top: 30px;
    width: 135px;
    height: 42px;
    color: white;
    font-weight: bold;
    background: none;
    border: solid white;
    box-shadow: blue($color: #484ad8);
    cursor: pointer;
}
button:active {
    background: white;
    color: #484ad8;
    box-shadow: white;
    border: #484ad8;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    color: #ffffff;
    text-align: left;
    position: relative;
}


.textas {
    color: #ffffff;
    opacity: 0.63;
}

.forma {
    width: 360px;
    height: 425px;
    background-color: white;
}


h3 {
    margin: 0;
    background: #F5F5F5;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    text-align: center;
}


.details {
    margin: 30px 50px 0px 50px;
    font-weight: bold;
}
span {
    text-transform: uppercase;
    color: #E27866;
}

input {
    width: 260px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 25px 50px 0px 50px;
    padding-left: 10px;
    border-width: 2px;
    font-size: 12px;
    
}
::placeholder {
    color: rgb(3, 3, 3);
}

.social {
    position: absolute;
    display:flex;
    margin-top: 0;
    width: 100%;
    background-color: #ffffff;
    height: 105px;
    box-sizing: border-box;
    justify-content: space-between;
}

.social_container {
    padding-left: 150px;
    width: 370px;
}
.socialm {
    margin: 0 auto;
    font-size: 14px;
    color: #86878B;
}
h4 {
    margin-bottom: 0px;
}

picture {
    width: 500px;
    display: flex;
    justify-content: space-evenly;

}
img {
    cursor: pointer;
}

.wifi {
    width: 30px;
    height: 30px;
    color:#E27866;
    transform: rotate(45deg);
}