body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

div {
  display: inline-block;
}

.header {
  overflow: hidden;
  width: 100%;
  height: 72px;
  background-color: black;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
}

li > a {
  text-decoration: none !important;
  color: #fff;
}

ul {
  color: #fff;
  margin-right: 150px;
}

li {
  padding: 8px 20px 8px 20px;
  display: inline;
}

a:hover, a:focus {
  color: #f8f8f8;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #f8f8f8;
  text-decoration: underline;
}

.underline {
  position: relative;
  margin: 3px;
}

.underline:hover:after, .underline:focus:after, .underline:active:after {
  width: 100%;
}

.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 4px;
  background-color: #E27866;
  width: 0;
  -webkit-transition: width .25s;
  transition: width .25s;
}

.logoo {
  height: 50px;
  position: relative;
  margin-right: 300px;
}

li {
  cursor: pointer;
}

.main {
  position: relative;
}

.city {
  background-position: center;
  min-height: 80vh;
  background-image: url(images/city.png);
  background-size: cover;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.664);
          box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.664);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 600px;
  margin-top: 150px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explained {
  height: 500px;
  width: 600px;
}

button {
  margin-top: 30px;
  width: 135px;
  height: 42px;
  color: white;
  font-weight: bold;
  background: none;
  border: solid white;
  -webkit-box-shadow: 216;
          box-shadow: 216;
  cursor: pointer;
}

.download:active {
  background: white;
  color: #484ad8;
  -webkit-box-shadow: white;
          box-shadow: white;
  border: #484ad8;
}

h2 {
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  text-align: left;
  position: relative;
}

.textas {
  color: #ffffff;
  opacity: 0.63;
}

.form {
  height: 425px;
  max-width: 360px;
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 20px #00000029;
  box-shadow: 0px 5px 20px #00000029;
  text-align: left;
}

h3 {
  height: 50px;
  margin: 0;
  background: #F5F5F5;
  padding: 10px 50px 10px 50px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.start {
  height: 30px;
  border: none;
  background-color: #41D395;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 0;
  border-radius: 0px 0px 5px 5px;
  font-size: 18px;
}

.details {
  margin: 30px 50px 0px 50px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}

span {
  text-transform: uppercase;
  color: #E27866;
}

input {
  width: 260px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 15px 50px 0px 50px;
  padding-left: 10px;
  border-width: 2px;
  font-size: 12px;
}

::-webkit-input-placeholder {
  color: #D8D8D8;
}

:-ms-input-placeholder {
  color: #D8D8D8;
}

::-ms-input-placeholder {
  color: #D8D8D8;
}

::placeholder {
  color: #D8D8D8;
}

.social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  width: 100%;
  background-color: #ffffff;
  height: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social_container {
  padding-left: 150px;
  width: 370px;
}

.socialm {
  margin: 0 auto;
  font-size: 14px;
  color: #86878B;
}

h4 {
  margin-bottom: 0px;
}

picture {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bigger {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.custom-radio {
  margin-bottom: 20px;
}

.custom-radio input {
  display: none;
}

.custom-radio input:checked + label .radio-circle, .custom-radio input:checked + label .pick {
  opacity: 1;
}

.custom-radio input:checked + label .radio-circle:after, .custom-radio input:checked + label .pick:after {
  opacity: 1;
}

.custom-radio .radio-circle {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #41D395;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.custom-radio .radio-circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #41D395;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

p.pick {
  opacity: 0.5;
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  margin-left: 6px;
}

.button-container {
  margin-left: 58px;
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button-one {
  width: px;
}

.button-two {
  margin-left: 12px;
}

.explore {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(226, 120, 102, 0.42)), to(rgba(102, 150, 226, 0.42))), url("wild.png");
  background-image: linear-gradient(to right, rgba(226, 120, 102, 0.42), rgba(102, 150, 226, 0.42)), url("wild.png");
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding-top: 155px;
  padding-bottom: 50px;
}

.boxes {
  margin-top: 100px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 390px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #A37169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.textrotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 25px 0px 0px 5px;
  font-weight: bolder;
}

.galerijainfo {
  width: 517px;
  margin-top: 100px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 14px;
  color: #ffffff;
}

.galerija {
  margin-left: 70px;
  width: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pic12 {
  width: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pic1, .pic2 {
  width: 168px;
  height: 164px;
  text-align: center;
}

.pic3 {
  width: 363px;
  height: 172px;
  margin-top: 20px;
  text-align: center;
}

.pic1 {
  background-image: url("images/lettuce.png");
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.pic2 {
  background-image: url("images/salad.png");
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.pic3 {
  background-image: url("images/shoes.png");
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.expl {
  margin-top: 70px;
  font-weight: bold;
  font-size: 16px;
  opacity: 0;
}

.square:active {
  background-color: #E27866;
}

.pic2:hover, .pic1:hover {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(226, 120, 102, 0.7);
          box-shadow: inset 0 0 0 2000px rgba(226, 120, 102, 0.7);
}

.pic2:hover .expl, .pic1:hover .expl {
  opacity: 1;
}

.pic3:hover {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(226, 120, 102, 0.7);
          box-shadow: inset 0 0 0 2000px rgba(226, 120, 102, 0.7);
}

.pic3:hover .expl {
  opacity: 1;
}

div.black {
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.logopage3 {
  width: 389px;
  height: 170px;
  margin-right: 200px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h3p3 {
  font-size: 30px;
  color: #ffffff;
  background-color: #000000;
  text-align: left;
  padding: 0;
  width: 350px;
  position: relative;
}

.linep3 {
  position: relative;
}

.linep3:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #E27866;
  width: 40%;
}

h5 {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.pp3 {
  font-size: 14px;
  width: 500px;
  margin: 0;
}

.title1, .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: auto;
}

.circle {
  height: 43px;
  width: 43px;
  background-color: #E27866;
  border-radius: 50%;
  margin-top: 40px;
}

.textp3 {
  width: 380px;
  margin-left: 20px;
  margin-top: 40px;
}

.great-feedback {
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 105px;
  padding-bottom: 45px;
  text-align: center;
}

.Whythis {
  font-weight: 700;
  margin-bottom: 0;
  color: #212121;
  font-size: 36px;
}

.why {
  margin-bottom: 65px;
  color: #86878B;
  font-size: 14px;
}

.linija {
  position: relative;
}

.linija:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 64px;
  background-color: #E27866;
  margin-left: -40px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#blck {
  width: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 35px;
  border: solid 1px #E27866;
}

h5.black {
  margin-bottom: 30px;
  color: #333333;
  font-size: 20px;
}

.grey {
  margin: 0;
  color: #86878B;
  font-size: 14px;
}

.pricing {
  margin: 0 auto;
  background-color: #6696E2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.alloptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 60px;
}

.option {
  width: 343px;
  margin: 20px;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 14px -8px #636363;
          box-shadow: 0px 4px 14px -8px #636363;
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
}

.price-info {
  height: 210px;
  width: 343px;
  background-color: #333333;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#type {
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 21px;
}

#period {
  margin-top: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.ribbon {
  width: 343px;
  height: 6px;
  background-color: #41D395;
}

.ribbon#higher {
  width: 343px;
  height: 40px;
  background-color: #41D395;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amount {
  font-size: 94px;
  margin: 0px;
}

.services {
  margin: 13px;
  color: #86878B;
  font-size: 18px;
}

.greenline {
  position: relative;
}

.greenline:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 64px;
  background-color: #41D395;
  margin-left: -40px;
}

.option:hover {
  top: -20px;
  -webkit-box-shadow: 0px 10px 45px 28px #41D395;
          box-shadow: 0px 10px 45px 28px #41D395;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E27866;
  padding-bottom: 40px;
  padding-top: 40px;
}

#contact-request {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  height: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end {
  width: 100%;
  background-color: #1C1C1C;
  padding-top: 51px;
  padding-bottom: 51px;
}

.custom-radio-send {
  margin-bottom: 20px;
}

.custom-radio-send input {
  display: none;
}

.custom-radio-send input:checked + label .radio-circle-two, .custom-radio-send input:checked + label .pick {
  opacity: 1;
}

.custom-radio-send input:checked + label .radio-circle-two:after, .custom-radio-send input:checked + label .pick:after {
  opacity: 1;
}

.custom-radio-send .radio-circle-two {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #41D395;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.custom-radio-send .radio-circle-two:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #41D395;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

p.pick {
  opacity: 0.5;
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  margin-left: 6px;
}

.button-container-send {
  width: 260px;
  height: 15px;
  margin-top: 26px;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-three, .button-four {
  margin-left: 12px;
}

.send {
  width: 158px;
  background-color: #41D395;
  font-weight: lighter;
  border-radius: 5px 5px 5px 5px;
  margin-top: 41px;
}

.ending {
  width: 100%;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#smaller {
  height: 20px;
  width: 20px;
}

.copyrights {
  text-align: right;
  width: 20%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 300px;
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
}
/*# sourceMappingURL=main.css.map */